h1 {

    color:red;
    font-size: 30px;
}



h2{
    color:aqua;
}

body {
    background-image: url(backimage.jpg);

    background-size: 1366px 768px;
}

.sınıf{ 
    font-style: italic;
}


.deneme{
    background-color: aliceblue;
} 

.mesaj{
    font-size: 15px !important;
}

.resim{
    margin-left: 90px;
}