h1 {

    color:red;
    font-size: 30px;
}



h2{
    background-color:antiquewhite;
    border-color : cadetblue;
    border-style: solid;
    border-width: 3px;
    border-color:aqua;
}

body {
    background-image: url(backimage.jpg);

    background-size: 1366px 768px;
}

.sınıf{ 
    font-style: italic;
}


.deneme{
    background-color: aliceblue;
} 

.mesaj{
    font-size: 15px !important;
    padding-top: 10px !important;
}

.resim{
    position: absolute;
    left:95%;
}

ul{
    list-style-type: unset ;
}


div{
    position: absolute;
    left:70%;
}
