h1 {

    color:red;
    font-size: 30px;
}



h2{
    color:aqua;
}

body {
    background-color: darkkhaki;
}

.sınıf{
    font-style: italic;
}

.deneme{
    background-color: aliceblue;
}

.link{
    font-size: 40px;
}
